/* HTML Tags */
body {
    background-color: #323232;
    color: rgb(189, 189, 189);
    text-align: center;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

hr {
    margin: 0;
    height: 20px;
    background-color: #323232;
}

table {
    width: 100%;
}

/* Font styling */
.font-bold {
    font-weight:bold; 
    font-size: 50px;
}

.font-semi-bold {
    font-weight: 600;
    font-size: 24px;
}

.navfont {
    font-size: 20px; 
    font-weight: 400;   
}

.header-padding {
    padding-top: 10px;
}

.highlighter{
    color: white;
}

.content-head {
    color: #FFAC41;
    margin-top: 20px;
}

/* navbar */
.navbar {
    background-color: #323232;
}


/* Classes */
.ppic-div {
    margin-bottom: 0px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border:10px solid #FFAC41;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.profile-summary{
    margin: 0 5% 5% 5%;
}

.tablewrapper {
    margin: 0 5% 5% 5%;
}

.content-div {
    background-color: #000000;
    margin:auto 5% ;
}

.content-element {
    margin: 20px auto;
}

.we-details {
    text-align: left;
    
}

.footer { 
    display: inline-block ;
    text-align: left;
    margin: 20px;
}

.link-element {
    font-family: 'Inter', sans-serif; 
    font-size: 18px; 
    color:rgb(189, 189, 189); 
    text-decoration: none;
}

.card-design {
    background-color: #323232;
    width: 18rem;
    /* margin-left: 20px; */
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


/* .flex-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  @media only screen and (max-width: 900px) {
    .flex-container {
      flex-direction: column;
    }
  }

.child {
    margin: 5px;
} */